/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body{
  box-sizing: border-box;
}
table thead {
  border-collapse: separate;
  border-spacing: 0 10px;
  
}
table tbody{
border-collapse: collapse;

}
tbody *{
  margin: 0;
  padding: 0;
}
